#modal .modal-outside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal .modal-inside {
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  min-height: 300px;
  margin: 1rem;
  position: relative;
  min-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}

#modal .modal-title {
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  -webkit-animation: colorchange 20s infinite alternate;
}
@keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

#modal .modal-subtitle {
  text-align: center;
  font-size: 12px;
  padding: 20px 0 0 0;
}

#modal .modal-input {
  margin: 20px 0 20px 0;
  height: 50px;
  text-align: center;
  font-size: 15px;
}

#modal .modal-button-holder {
  text-align: center;
}
#modal .modal-button {
  background-color: white;
  border: none;
  color: #3f3f3f;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
